include ../../../node_modules/bemto.pug/bemto
- set_bemto_settings({ modifier: '--' })

include ../partials/head
include ../blocks/modal

block variables
doctype html
html(lang='ru')
  +head()
  body
    unless debug === false
      include ../partials/debug
    div.app
      block header
      block body
      block footer
    +modal()
    include ../partials/scripts
